@keyframes fadein {
  from {opacity: 0}
  to   {opacity: 1}
}

@-moz-keyframes fadein {
  from {opacity: 0}
  to   {opacity: 1}
}

@-webkit-keyframes fadein {
  from {opacity: 0}
  to   {opacity: 1}
}

@keyframes fadeout {
  from {
    filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }
  to   {
    filter: grayscale(0);
    -moz-filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }
}

@-moz-keyframes fadeout {
  from {
    filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }
  to   {
    filter: grayscale(0);
    -moz-filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }
}

@-webkit-keyframes fadeout {
  from {
    filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }
  to   {
    filter: grayscale(0);
    -moz-filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }
}

@media only screen and (max-width: 1172px) {
  header .container, #block-0 #header-container {
    width: 90% !important;
  }
}

@media only screen and (max-width: 1000px) {
  .header .links {
    font-size: 0.9em;
  }

  .header .links .link, .header .links .link {
    margin: 0 12px !important;
  }

  .header .logo img, .header .logo {
    height: 40px !important
  }
}

@media only screen and (max-width: 860px) {
  .header .links {
    font-size: 0.8em;
  }

  .header .links .link {
    margin: 0 8px !important;
  }

  .header .logo img, .header .logo {
    height: 36px !important;
    margin-top: 1px;
  }
}

@media only screen and (max-width: 732px) {
  .header .links {
    font-size: 0.7em;
  }

  .header .links .link {
    margin: 0 6px !important;
  }

  .header .logo img, .header .logo {
    height: 32px !important;
    margin-top: 2px;
  }
}

@media only screen and (max-width: 732px) {
  .header .links {
    text-align: center;
    float: none !important;
  }

  .header .logo {
    display: none
  }

  .block .content {
    width: 90% !important;
  }

  #subscribe-container {
    width: 90% !important;
  }

  #block-2 .bloc {
    overflow: hidden;
  }

  #block-3 .service {
    width: 90% !important;
  }
}

html, body {
  margin: 0;
  height: 100%;
  color: #222;
}

.button {
  width: 230px;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 0;
  margin: auto;
  font-family: Montserrat;
  font-weight: 600;
  font-size: .8em;
  letter-spacing: 2px;
}

.button.purple {
  background-color: hsl(255, 31%, 58%);
}

.block {
  position: relative;
}

.block .content {
  width: 870px;
  margin: auto;
  padding: 60px 45px;
}

.block .content > .title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.8em;
  text-align: center;
  margin-bottom: 25px;
}

.block.odd, .block .odd {
  background-color: hsl(0, 0%, 98%);
  border-top: thin solid hsl(0, 0%, 87%);
  border-bottom: thin solid hsl(0, 0%, 87%);
}

.header {
  height: 64px;
  padding-top: 25px;
}

header {
  position: fixed;
  top: -90px;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: thin solid #ccc;
  z-index: 10;
  display: block;
  transition: top 0.3s ease-in-out;
}

header.visible {
  top: 0;
}

header .container {
  width: 1040px;
  margin: auto;
}

.header .logo, .header .logo img {
  height: 46px;
}

.header .links {
  float: right;
  margin-top: 12px;
}

.header .links .link {
  font-family: Montserrat;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  margin: 0 16px;
  opacity: 0.5;
  transition: opacity 0.4s ease-in-out;
}

.header .links .link:hover, .header .links .link.active {
  opacity: 1;
}

header .links .link .text {
  color: hsl(251, 28%, 39%);
}

.header .links .link .text {
  font-size: 1.25em;
}

.header .links a {
  text-decoration: none;
  color: white;
}

#block-0 {
  background-image: url(/images/stock.png);
  background-size: cover;
  height: 555px;
}

#block-0 #header-container {
  width: 1040px;
  margin: auto;
}

#block-0 .hr {
  border-bottom: 2px solid white;
  opacity: 0.5;
}

#block-0 .header .logo {
  width: 301px;
}

#subscribe-container {
  width: 780px;
  margin: 0px auto;
  color: white;
  text-align: center;
}

#subscribe-container h1 {
  margin-top: 30px;
  font-size: 2.6em;
  font-family: Montserrat;
  font-weight: 600;
}

#subscribe-container h2 {
  font-family: PT Serif;
  font-weight: 400;
  font-size: 1.4em;
}

#subscribe-container .button {
  margin-top: 50px;
  transition: background-color 0.4s ease-in-out;
}

#subscribe-container .button:hover {
  cursor: pointer;
  background-color: hsl(255, 31%, 61%);
}

#block-1 .left, #block-1 .right, #block-3 .left, #block-3 .right {
    display: inline-block;
    vertical-align: top;
}

#block-1 .left, #block-3 .left {
    width: 30%;
}

#block-1 .right, #block-3 .right {
    width: 69%;
}

#block-1 p {
    font-family: PT Serif;
}

#block-1 p.sub {
  color: #aaa;
}

#block-1 p.title, #block-3 p.title {
    font-size: 1.3em;
    font-weight: 600;
    font-family: Montserrat;
}

#block-1 p.em, #block-3 p.em {
    font-style: italic;
    font-weight: 600;
}

#block-1 .right .video, #block-3 .right .video {
    width: 100%;
    background-color: #eee;
    margin-left: 25px;
    margin-top: 15px;
}

#block-1 .left .video, #block-3 .left .video {
    width: 92%;
    height: 260px;
    background-color: #eee;
    margin-top: 15px;
}

#block-3 .right .video {
  height: 260px;
}

#block-1 .right .video {
  height: 360px;
}

#block-2 {
  background-image: url(/images/gray.png);
  background-repeat: repeat;
  background-size: 1280px 720px;
}

#block-2 .blocs {
    margin-top: 40px;
}

#block-2 .blocs .bloc {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 4%;
    background-color: white;
    height: 320px;
    padding: 18px;
    text-align: center;
    box-sizing: border-box;
    font-family: Montserrat;
}

#block-2 .blocs .bloc .icon {
    height: 120px;
    margin-top: 10px;
}

#block-2 .blocs .bloc .title {
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 10px;
}

#block-2 .blocs .bloc .text {
    margin-top: 12px;
    font-size: .9em;
    color: #aaa;
}

#block-2 .blocs .bloc:last-child {
    margin-right: 0;
}

#block-3 > .content {
  width: auto;
  padding: 0;
}

#block-3 > .content > .title {
  margin-top: 60px;
}

#block-3 .mid .left {
    width: 69%;
}

#block-3 .mid .right {
    width: 30%;
}


#block-3 p {
    font-size: 1.05em;
}

#block-3 p.sub {
    font-family: PT Serif;
    font-size: 1em;
    color: #aaa;
}

#block-3 .service-container {
  overflow: auto;
}

#block-3 .service-container.mid {
  background-color: #FBFBFB;
}

#block-3 .service {
    margin: 40px auto;
    padding-bottom: 20px;
    width: 870px;
}

#block-3 .service:last-child {
  padding-bottom: 10px;
}

#block-3 .service.globe .video {
  background-image: url(/images/globe-large.png);
  background-size: cover;
}

#block-3 .service.laptop .video {
  background-image: url(/images/laptop-large.png);
  background-size: cover;
}

#block-3 .service.package .video {
  background-image: url(/images/package-large.png);
  background-size: cover;
}

#block-3 .services .div {
  border-bottom: thin solid #ddd;
}

#block-3 .content > .sub {
    font-size: 1.3em;
    font-family: PT Serif;
    text-align: center;
    width: 870px;
    margin: auto;
}

#block-4 .content {
    width: 1116px;
    padding-bottom: 30px;
}

#block-4 .products {
    margin-top: 60px;
    position: relative;
}

#block-4 .products .product {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 220px;
    border-right: thin solid #ccc;
    padding-left: 16px;
    box-sizing: border-box;
}

/*

#block-4 .products .product::after, #block-4 .products .product::before {
    top: 77px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    z-index: 10;
    display: none;
}

#block-4 .products .product.selected::after, #block-4 .products .product.selected::before {
    display: block;
}

#block-4 .products .product::after {
    border-color: rgba(250, 250, 250, 0);
    border-top-color: #fafafa;
    border-width: 10px;
    margin-left: -10px;
}
#block-4 .products .product::before {
    border-color: rgba(204, 204, 204, 0);
    border-top-color: #ccc;
    border-width: 11px;
    margin-left: -11px;
}

*/

#block-4 .products #product-arrow {
  position: absolute;
  left: 100px;
  bottom: -30px;
  transition: left .4s ease-in-out;
  z-index: 10;
}

#block-4 .products #product-arrow::after, #block-4 .products #product-arrow::before {
    top: 0;
    left: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#block-4 .products #product-arrow::after {
    border-color: rgba(250, 250, 250, 0);
    border-top-color: #fafafa;
    border-width: 10px;
    margin-left: -10px;
}
#block-4 .products #product-arrow::before {
    border-color: rgba(204, 204, 204, 0);
    border-top-color: #ccc;
    border-width: 11px;
    margin-left: -11px;
}

#block-4 .products .product:last-child {
    border-right: 0;
}

#block-4 .products .product .title {
    font-family: Montserrat;
    font-weight: 600;
}

#block-4 .products .product .text {
    font-family: PT Serif;
    font-size: 0.8em;
    color: #666;
    font-style: italic;
    margin-top: 12px;
}

#block-4 .products .product:hover {
  cursor: pointer;
}

#block-4 .products .product:hover .title {
  color: #999;
}

#block-4 .products .product:hover .text {
  color: #aaa;
}

#block-4 .products .product.selected .title {
    color: #999;
}

#block-4 .products .product.selected .text {
    color: #aaa;
}

#block-4 .viewport {
    /* display: none; */
}

#block-4 .viewport .top {
  background-image: url(/images/purple.png);
  background-repeat: repeat;
  background-size: 1280px 720px;
  height: 500px;
  overflow: auto;
}

#block-4 .viewport .top .product-info {
    height: 400px;
    background-color: white;
    width: 900px;
    margin: 50px auto;
    border-radius: 5px;
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#block-4 .viewport .top .product-info.display {
  display: block;
}

#block-4 .viewport .top .product-info.selected {
  opacity: 1;
}

#block-4 .viewport .top .product-info .pane {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    box-sizing: border-box;
}

#block-4 .viewport .top .product-info .pane.left {
    width: 25%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding: 30px;
}

#block-4 .viewport .top .product-info .pane.right {
    background-color: #eee;
    width: 75%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 24px 40px;
}

#block-4 .viewport .top .product-info .pane.left .logo {
  text-align: center;
}

#block-4 .viewport .top .product-info .pane p {
  font-family: PT Serif;
}

#block-4 .viewport .top .product-info .pane.left p {
  color: #aaa;
  font-size: 0.9em;
}

#block-4 .viewport .top .product-info .text {
  margin-top: 24px;
}

#block-4 .viewport .top .product-info .pane.right > .title {
  font-family: Montserrat;
  font-size: 2em;
  font-weight: 600;
}

#block-4 .viewport .top .product-info .pane.right > .sub {
  font-family: Montserrat;
  font-size: 1.5em;
  color: #aaa;
}

#block-4 .viewport .top .product-info .pane.right .info {
  border-top: thin solid #ccc;
  border-bottom: thin solid #ccc;
  margin-top: 12px;
  height: 222px;
}

#block-4 .viewport .top .product-info .pane.right .info .scroll {
  height: 192px;
  margin-top: 15px;
  overflow-y: scroll;
}

#block-4 .viewport .top .product-info .pane.right .info p {
  color: #444;
  margin: 0;
}

#block-4 .viewport .top .product-info .pane.right .buttons .button {
  display: inline-block;
  vertical-align: top;
  margin: 14px 21px 0 0;
  float: right;
}

#block-4 .viewport .top .product-info .pane.right .buttons .button:first-child {
  margin-right: 0;
}

#block-4 .viewport .top .product-info .pane.right .buttons .button.purple {
  background-color: hsl(255, 31%, 58%);
  color: white;
}

#block-4 .viewport .top .product-info .pane.right .buttons .button.trans {
  color: hsl(255, 31%, 58%);
  border: 2px solid hsl(255, 31%, 58%);
  background-color: #eee;
  border-radius: 24px;
  padding: 12px 0;
}

#block-4 .viewport .bottom {
    background-color: hsl(249, 28%, 39%);
    border-top: thin solid hsl(250, 30%, 36%);
    box-shadow: inset 0 -10px 3px -10px #222;
}

#block-4 .viewport .bottom .boxes {
    width: 900px;
    margin: auto;
    padding: 40px 0;
}

#block-4 .viewport .bottom .boxes .box {
    width: 418px;
    margin-right: 60px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
    border-radius: 6px;
    box-sizing: border-box;
}

#block-4 .viewport .bottom .boxes .box:last-child {
    margin-right: 0;
}

#block-4 .viewport .bottom .boxes .box .title {
    color: hsl(250, 30%, 36%);
    font-family: Montserrat;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
    padding: 20px 0;
    border-bottom: thin solid #eee;
}

#block-4 .viewport .bottom .boxes .box .text {
    text-align: center;
    font-family: PT Serif;
    font-size: 0.9em;
    color: #aaa;
    padding: 30px 0 20px;
    width: 320px;
    margin: auto;
}

#block-4 .viewport .bottom .boxes .box .button {
    width: 250px;
    margin: 16px auto 24px;
    border-radius: 20px;
}

#block-4 .viewport .bottom .boxes .box .button.gray {
    color: hsl(249, 28%, 39%);
    background-color: #F5F5F5;
}

#block-4 .viewport .bottom .boxes .box .button.purple {
    background-color: hsl(249, 28%, 39%);
    color: white;
}

#block-5 {
  background-image: url(/images/gray.png);
  background-repeat: repeat;
  background-size: 1280px 720px;
}

#block-5 .content {
  width: 1030px;
  padding: 28px 48px 80px;
}

#block-5 .section {
  display: inline-block;
  vertical-align: top;
  margin-top: 34px;
}

#block-5 .section.mid {
  width: 200px;
}

#block-5 .section.end {
  width: 300px;
}

#block-5 .section .title {
  letter-spacing: 2px;
  font-family: Montserrat;
  font-weight: 600;
  color: hsl(255, 31%, 58%);
  font-size: 0.85em;
  margin-left: 20px;
  text-transform: uppercase;
}

#block-5 .section.end > .text {
    font-family: PT Serif;
    color: hsl(255, 31%, 58%);
    margin: 15px 0 0 20px;
}

#block-5 .section .links {
  margin: 20px 0 0 20px;
}

#block-5 .section .links a {
  text-decoration: none;
}

#block-5 .section .links .link {
  margin: 12px 0;
  height: 24px;
}

#block-5 .section .links .link .icon {
  display: inline-block;
  vertical-align: top;
  width: 36px;
}

#block-5 .section .links .link .text {
  font-family: Montserrat;
  color: hsl(255, 31%, 58%);
  font-size: 1.1em;
  display: inline-block;
  vertical-align: top;
  margin-top: -3px;
  transition: color .4s ease-in-out;
}

#block-5 .section .links .link:hover .text {
  color: hsl(255, 31%, 70%);
}

#block-5 .divider {
  display: inline-block;
  vertical-align: top;
  height: 170px;
  border-left: thin solid hsl(255, 31%, 58%);
  margin-top: 30px;
}

#block-5 #footnote {
  font-family: PT Serif;
  color: hsl(210, 1%, 67%);
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -155px;
}

#block-5 .logo {
  margin-top: 66px;
}
