@keyframes fadein {
  from {opacity: 0}
  to   {opacity: 1}
}

@-moz-keyframes fadein {
  from {opacity: 0}
  to   {opacity: 1}
}

@-webkit-keyframes fadein {
  from {opacity: 0}
  to   {opacity: 1}
}

@keyframes fadeout {
  from {
    filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }
  to   {
    filter: grayscale(0);
    -moz-filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }
}

@-moz-keyframes fadeout {
  from {
    filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }
  to   {
    filter: grayscale(0);
    -moz-filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }
}

@-webkit-keyframes fadeout {
  from {
    filter: grayscale(1);
    -moz-filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }
  to   {
    filter: grayscale(0);
    -moz-filter: grayscale(0);
    -webkit-filter: grayscale(0);
  }
}

html, body {
  margin: 0;
  height: 100%;
  color: #222;
}

.button {
  width: 230px;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  padding: 14px 0;
  margin: auto;
  font-family: Montserrat;
  font-weight: 600;
  font-size: .8em;
  letter-spacing: 2px;
}

.button.purple {
  background-color: hsl(255, 31%, 58%);
}

.block {
  position: relative;
}

.block .content {
  width: 870px;
  margin: auto;
  padding: 45px;
}

.block .content > .title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2.8em;
  text-align: center;
}

.block.odd, .block .odd {
  background-color: hsl(0, 0%, 98%);
  border-top: thin solid hsl(0, 0%, 87%);
  border-bottom: thin solid hsl(0, 0%, 87%);
}

#block-0 {
  background-image: url(/images/stock.png);
  background-size: cover;
  height: 555px;
}

#block-0 #header-container {
  width: 1040px;
  margin: auto;
}

#block-0 #header {
  height: 64px;
  padding-top: 25px;
}

#block-0 .hr {
  border-bottom: 2px solid white;
  opacity: 0.5;
}

#block-0 #header #logo {
  width: 301px;
  height: 46px;
}

#block-0 #header .links {
  float: right;
  margin-top: 12px;
}

#block-0 #header .links .link {
  font-family: Montserrat;
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  margin: 0 12px;
  opacity: 0.5;
  transition: opacity 0.4s ease-in-out;
}

#block-0 #header .links .link:hover, #block-0 #header .links .link.active {
  opacity: 1;
}

#block-0 #header .links .link .text {
  font-size: 1.25em;
}

#block-0 #header .links a {
  text-decoration: none;
  color: white;
}

#subscribe-container {
  width: 620px;
  margin: 0px auto;
  color: white;
  text-align: center;
}

#subscribe-container h1 {
  margin-top: 30px;
  font-size: 2.8em;
  font-family: Montserrat;
  font-weight: 600;
}

#subscribe-container h2 {
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 1.4em;
}

#subscribe-container .button {
  margin-top: 50px;
  transition: background-color 0.4s ease-in-out;
}

#subscribe-container .button:hover {
  cursor: pointer;
  background-color: hsl(255, 31%, 61%);
}

#block-1 .left, #block-1 .right {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
}

#block-1 .left {
    width: 30%;
}

#block-1 .right {
    width: 69%;
}

#block-1 p {
    font-family: Montserrat;
}

#block-1 .left p.title {
    font-size: 1.3em;
    font-weight: 600;
}

#block-1 .left p.em {
    font-style: italic;
}

#block-1 .right .video {
    width: 100%;
    height: 260px;
    background-color: #eee;
}

#block-2 {
  height: 511px;
  background-image: url(/images/pattern2.png);
  background-repeat: true;
}

#block-2 .blocs {
    margin-top: 40px;
}

#block-2 .blocs .bloc {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 4%;
    background-color: white;
    height: 320px;
    padding: 18px;
    text-align: center;
    box-sizing: border-box;
    font-family: Montserrat;
}

#block-2 .blocs .bloc .icon {
    height: 120px;
}

#block-2 .blocs .bloc .title {
    font-size: 1.3em;
    font-weight: 600;
}

#block-2 .blocs .bloc .text {
    margin-top: 12px;
    font-size: .9em;
    color: #aaa;
}

#block-2 .blocs .bloc:last-child {
    margin-right: 0;
}

#block-5 {
  height: 363px;
  background-image: url(/images/pattern5.png);
  background-repeat: true;
}

#block-5 .content {
  width: 1030px;
}

#block-5 .section {
  display: inline-block;
  vertical-align: top;
  margin-top: 34px;
}

#block-5 .section.mid                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          {
  width: 200px;
}

#block-5 .section.end {
  width: 300px;
}

#block-5 .section .title {
  letter-spacing: 2px;
  font-family: Montserrat;
  font-weight: 600;
  color: hsl(255, 31%, 58%);
  font-size: 0.85em;
  margin-left: 20px;
  text-transform: uppercase;
}

#block-5 .section .links {
  margin: 20px 0 0 20px;
}

#block-5 .section .links a {
  text-decoration: none;
}

#block-5 .section .links .link {
  margin: 12px 0;
  height: 24px;
}

#block-5 .section .links .link .icon {
  display: inline-block;
  vertical-align: top;
  width: 36px;
}

#block-5 .section .links .link .text {
  font-family: Montserrat;
  color: hsl(255, 31%, 58%);
  font-size: 1.1em;
  display: inline-block;
  vertical-align: top;
  margin-top: -3px;
  transition: color .4s ease-in-out;
}

#block-5 .section .links .link:hover .text {
  color: hsl(255, 31%, 70%);
}

#block-5 .divider {
  display: inline-block;
  vertical-align: top;
  height: 170px;
  border-left: thin solid hsl(255, 31%, 58%);
  margin-top: 30px;
}

#block-5 #footnote {
  font-family: Roboto Slab;
  color: hsl(210, 1%, 67%);
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -155px;
}

#block-5 .logo {
  margin-top: 66px;
}
